body {
    font-family: 'Vollkorn',serif;
    margin: 0;
    font-weight: 300;
    color: #60a5a5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: white;
    box-shadow: rgb(128, 128, 128) 0px 0px 5px 0px;
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h1 {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
    font-family: 'Vollkorn',serif;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;

    position: relative;
}

nav a {
    color: #60a5a5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #60a5a5;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.banner {
    padding: 70px 50px 70px 50px;
    text-align: center;
    background-image: url(../assets/treesSide.png);
    margin-top: 1px;
    color: white;
}

.banner h1 {
    font-size: 50px;
}

.banner h2 {
    font-size: 25px;
}

.about {
    background-color: rgb(236, 236, 236);
    margin: 0 25% 0 25%;
    color:rgb(82, 82, 82);
}

.about h2 {
    font-size: 18px;
    text-align: center;
    padding: 40px 50px 40px 50px;
    text-transform: uppercase;
}

.about h3 {
    font-size: 14px;
    text-align: center;
    padding: 20px 70px 20px 70px;
}

.gallery h2 {
    font-size: 25px;
    text-align: center;
    padding: 70px 50px 70px 50px;

}

div.line {
    height: 5px;
    width: 25%;
    background-color: #60a5a5;
    margin-top: 70px;
    margin-left: 500px;
    margin-right: 500px;
}